@font-face {
  font-family: LatoLight;
  src: url(./fonts/Lato-Light.ttf);
}

body {
  font-family: 'LatoLight';
  margin: 0;
  padding: 0;
  background: url(./images/picture.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
